{% extends 'base.html' %}



{% block head %}

    <title>Home</title>

{% endblock %}

{% block body %}
<br>
    <h1>Home Page</h1>

<br>

    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>This is just a boiler plate BlogSite made with Flask and BootStrap</p>
          
            <p>
              <a class="btn btn-primary" href="https://github.com/ArsalanSahab/Python_Flask)BlogSite" role="button">GitHub Repo &raquo;</a>
            </p>
          </div>
        </div>
      </main>

{% endblock %}